<p id="notice"><%= notice %></p>

<p>
  <strong>Ismatou:</strong>
  <%= @user.Ismatou %>
</p>

<p>
  <strong>Ismatou16@gmail.com:</strong>
  <%= @user.ismatou16@gmail.com %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
